{% extends 'base.html' %}
{% block body %}
<!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- Begin Page Content -->


        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Add TimeSheet</h1>
            </div>
            <div class="card">
               <div class="card-body">
                   {% if messages %}
                    <ul class="messagelist">
                        {% for message in messages %}
                            <li>{{ message.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                     <form method="POST" action="" >{% csrf_token %}
                          <div class="row">
                                <div class="col-md-12 mt-4">
                                <label for="task">Task</label>
                              <input type="text" autocomplete="off" class="form-control" placeholder="Task" id="task" name="task" required>
                            </div>
                              <div class="col-md-12 mt-4">
                                <label for="Dates">Date</label>
                               <input type="text" readonly class="form-control" id="Dates" name="date" placeholder="Select Date" required />
                            </div>

                              <div class="col-md-12 mt-4">
                                <label for="Description">Description</label>
                                  <textarea autocomplete="off" class="form-control" placeholder="Description" id="Description" name="description"></textarea>
                            </div>
                              <div class="col-md-12 mt-4 text-center">
                                  <input type="submit" class="btn btn-primary" value="submit">
                            </div>

                          </div>
                    </form>
               </div>
            </div>
        </div>
        <!-- /.container-fluid -->

<script>

$(document).ready(function() {
    $('#Dates').datepicker({
        //startDate: new Date(),
        format: "dd/mm/yyyy",
        daysOfWeekDisabled: [0, 6],
        datesDisabled: {{formatted_dates|safe}},
    })
});
</script>
{% endblock %}